@use '../base/variables' as vars;
@use '../base/mixins' as mixins;

:host {
  $avatar-diameter: 3rem;

  .avatar {
    border-radius: 50%;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    box-sizing: content-box;
    height: $avatar-diameter;
    position: absolute;
    // Avoid alt text to flash when the piucture is being loaded
    color: transparent;
    text-indent: -9999px;
    width: $avatar-diameter;
    // Allow to anchor the image to the center of the relative container
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 0);

    &.avatar-open {
      border: 0.25rem solid vars.$color-yellow;
      left: -0.25rem;
    }
  }

  @include mixins.media-breakpoint-down(sm) {
    :host.is-shrink .profile-toggle,
    :host.is-shrink .avatar {
      height: 2rem;
    }

    :host.is-shrink .profile-toggle {
      width: 3.5rem;
    }

    :host.is-shrink .avatar {
      width: 2rem;
    }
  }

  .profile-toggle {
    border-radius: 50%;
    outline: none;
    position: relative;
    height: $avatar-diameter;
    width: $avatar-diameter + 1.5rem;
    padding-right: 1.5rem;

    .icon {
      font-size: vars.$font-size-sm;
      position: absolute;
      right: 0.325rem;
    }
  }
}
