@use '../base/mixins' as mixins;

dc-header header.l-header {
  .l-header-item {
    display: flex;
    // Allow to make the side items equal width to center logo
    width: 4.5rem;

    &:first-child {
      justify-content: flex-start;
    }

    &:last-child {
      justify-content: flex-end;
    }

    @include mixins.media-breakpoint-up(sm) {
      width: auto;
    }
  }

  .logo-container {
    justify-content: center;

    @include mixins.media-breakpoint-up(sm) {
      justify-content: flex-start;
      margin-right: auto;
    }
  }
}
