@use '../base/mixins' as mixins;
@use '../base/functions' as fn;

dc-header .navbar {
  -webkit-backface-visibility: hidden;
  align-items: center;
  backface-visibility: hidden;
  background-color: var(--main-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 1rem var(--column-gap);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: fn.z-index(header);

  &-top,
  &-bottom {
    transition: transform ease 0.216s;

    &.is-moved {
      transform: translate3d(320px, 0, 0);
    }
  }

  &-top {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    &.is-shrink {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }

    @include mixins.media-breakpoint-up(sm) {
      padding-bottom: 0.625rem;
    }
  }

  &-bottom {
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
    top: auto;
    bottom: 0;

    &.is-shrink {
      transform: translate3d(0, 150%, 0);
    }

    &.is-shrink.is-moved {
      transform: translate3d(320px, 150%, 0);
    }

    > [class*="btn"] {
      flex: 1;
    }
  }

  &-item {
    display: flex;
    min-width: 2rem;
  }
}
