dc-header {
  .nav {
    align-items: center;
    display: flex;
    flex: 1;
  }

  .nav-item {
    padding: 0 0.625rem;
  }

  .nav-link {
    color: var(--text-color);
    font-size: var(--font-size);
    font-weight: 600;
    line-height: 1.2;
    text-decoration: none;
    transition: color 0.216s ease;
  }

  .nav-link:visited {
    color: var(--text-color);
  }

  .nav-link:hover {
    color: var(--brand-color);
  }
}
