version: 2
jobs:
  test:
    working_directory: ~/packages
    docker:
      - image: circleci/node:14.5.0-browsers
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: install dependencies
          command: yarn install
      - run:
          name: Setup test environment
          command: yarn setup:ci
      - run:
          name: test
          command: yarn run test:ci
      - run:
          name: codecov
          command: npx codecov
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - ./node_modules
  publish:
    working_directory: ~/packages
    docker:
      - image: circleci/node:14.5.0-browsers
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: install dependencies
          command: yarn install
      - add_ssh_keys:
          fingerprints:
            - '90:19:0a:60:b7:db:f6:43:89:09:32:c2:95:c6:67:7f'
      - run:
          name: configure git
          command: |
            mkdir -p ~/.ssh
            chmod 700 ~/.ssh
            touch ~/.ssh/known_hosts
            chmod 644 ~/.ssh/known_hosts
            ssh-keyscan github.com >> ~/.ssh/known_hosts
            git config user.email "bot@debtcollective.org"
            git config user.name "Debt Bot"
      - run:
          name: configure npm credentials
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > .npmrc
      - run:
          name: build packages
          command: 'yarn build'
      - run:
          name: publish packages
          command: 'yarn lerna publish --yes'

workflows:
  version: 2
  pipeline:
    jobs:
      - test
      - publish:
          requires:
            - test
          filters:
            branches:
              only: master
