$blue: #d8f6ff;
$red: #ff4630;
$purple: #dac4f5;
$green: #d6ffb8;
$yellow: #ffed9c;
$gray: #2b2b2b;
$beige: #faf9f5;
$white: #ffffff;
$black: #000000;
$grid-gutter-width: 40px;
$zindex-fixed: 1030;
$xs: 576px;
$spacer: 1rem;
$font-size-base: 24px;

*,
*::before,
*::after {
  box-sizing: border-box;
}

.close {
  color: #000;
  cursor: pointer;
  float: right;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1;
  opacity: 0.5;
  text-shadow: 0 1px 0 #fff;

  &:hover {
    color: #000;
    text-decoration: none;
  }

  &:not(:disabled):not(.disabled):hover,
  &:not(:disabled):not(.disabled):focus {
    opacity: 0.75;
  }
}

.notification {
  align-items: center;
  background: $white;
  border-radius: 0.25rem;
  border: 0.125rem solid $black;
  bottom: $grid-gutter-width / 2;
  box-shadow: 0 0.875rem 1.75rem rgba(0, 0, 0, 0.25),
    0 0.625rem 0.625rem rgba(0, 0, 0, 0.22);
  display: flex;
  flex-direction: row;
  height: 11rem;
  padding: 1.5rem;
  position: fixed;
  right: $grid-gutter-width / 2;
  width: 28.75rem;
  max-width: 100%;
  z-index: $zindex-fixed;

  @media (max-width: $xs) {
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 40px;
  }

  .close {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &-col {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    text-align: center;

    @media (max-width: $xs) {
      margin-top: $spacer;
    }
  }

  &__content {
    font-size: $font-size-base * 0.55;
    text-align: left;
    margin-left: $spacer * 1.5;

    @media (max-width: $xs) {
      margin-left: 0;
    }
  }

  &__title {
    font-size: $font-size-base * 1.5;
    line-height: 0.85;

    @media (max-width: $xs) {
      margin-bottom: $spacer * 0.5;
    }
  }

  &__date {
    color: #808080;
    font-size: $font-size-base * 0.375;
  }
}
