$blue: #d8f6ff;
$red: #ff4630;
$purple: #dac4f5;
$green: #d6ffb8;
$yellow: #ffed9c;
$gray: #2b2b2b;
$beige: #faf9f5;
$white: #ffffff;
$black: #000000;
$grid-gutter-width: 40px;
$zindex-fixed: 1030;
$xs: 576px;
$spacer: 1rem;
$font-size-base: 24px;

*,
*::before,
*::after {
  box-sizing: border-box;
}
