dc-header {
  .logo {
    // allows to center vertically the logo img
    display: flex;
    flex-direction: column;
    justify-content: center;

    > img {
      /* 2.667em is the size of logo within the community */
      height: 2.667rem;
      position: relative;
      width: auto;
    }
  }
}
