%custom-details {
  summary {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-right: var(--column-gap);
    position: relative;

    .icon {
      margin-left: auto;
      margin-right: var(--column-gap);
    }
  }

  .icon.icon-more {
    display: block;
  }
  .icon.icon-less {
    display: none;
  }

  &[open] {
    .icon.icon-more {
      display: none;
    }
    .icon.icon-less {
      display: block;
    }
  }

  // pseudo elements are defined separately check https://bit.ly/2U0pJKb
  summary::marker {
    display: none;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  /*
    IE doesn't support details as other modern browsers so we remove the boder
    in order to let the text being shown without bad applied customizations
  */
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    border-top: none;
  }

  @supports (-ms-ime-align: auto) {
    border-top: none;
  }
}

dc-menu .menu-header {
  align-items: center;
  border-bottom: 0.0625rem solid #e8e8e8;
  // box-shadow: 1px 1px 3px rgba(34, 34, 34, 0.2);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
}

dc-menu .menu-footer {
  background: rgba(255, 255, 255, 0.92);
  bottom: 0;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  left: 0;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 1;
}

dc-menu .menu-nav {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;

  &.menu-section {
    padding-left: 0;
    padding-right: 0;
  }

  &-item {
    padding: 0 var(--column-gap);
    width: 100%;
  }

  &-item-collapsable {
    $border-width: 4px;
    @extend .menu-nav-item;
    @extend %custom-details;
    border-left: $border-width solid transparent;
    padding: 0 calc(var(--column-gap) - #{$border-width});

    &[open] {
      background-color: $color-beige;
      border-left-color: $color-secondary;

      .menu-nav-text {
        @extend .text-color-light;
      }
    }
  }

  &-item-nested {
    display: flex;
    flex-direction: column;
    padding: 0 var(--column-gap);
  }

  &-text,
  &-text-sm,
  &-text-lg {
    color: var(--text-color);
    text-decoration: none;
  }

  &-text {
    font-size: $font-size-base;
    font-weight: 200;
    line-height: 2.5;
  }

  &-text-sm {
    font-size: $font-size-sm;
    font-weight: normal;
    line-height: 1.25;
  }

  &-text-lg {
    font-size: $font-size-lg;
    font-weight: 800;
    line-height: 2.5;
  }
}

dc-menu .text-color-light {
  color: var(--text-color-light);
}
