.user-dropdown-container {
  position: relative;

  .material-icons {
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer;
  }
}

dc-user-dropdown .user-dropdown {
  background-color: $color-primary;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
  bottom: 0;
  position: absolute;
  width: 320px;
  right: 0;
  border-radius: 0.25rem;
  overflow: hidden;
  padding: $column-gap 0 0;
  transform: translate3d(0, 100%, 0);

  &-section {
    padding: 0 $column-gap;
  }

  &-footer {
    background: #fff;
    border-top: 0.0625rem solid #e8e8e8;
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-around;
  }
}
