dc-header .section-links {
  display: flex;
  justify-content: space-between;
}

dc-header .link-text-icon {
  @extend .text-sm;
  @extend .text-color-light;
  display: flex;
  flex-direction: column;
  align-items: center;

  .material-icons {
    font-size: 2rem;
  }
}

dc-header .profile-dropdown-container {
  position: relative;

  .material-icons {
    text-decoration: none;
    cursor: pointer;
  }

  .connector {
    border-bottom: 0.625rem solid #fbfbfb;
    border-left: 0.625rem solid transparent;
    border-right: 0.625rem solid transparent;
    display: none;
    height: 0;
    margin-left: 1.125rem;
    position: absolute;
    width: 0;
    bottom: 0;
  }
}

dc-header .profile-dropdown {
  background-color: $color-primary;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
  bottom: 0;
  display: none;
  position: absolute;
  width: 320px;
  right: -($column-gap);
  border-radius: 0.25rem;
  overflow: hidden;
  padding: $column-gap 0 0;
  transform: translate3d(0, 100%, 0);

  @include media-breakpoint-up(xxs) {
    right: 0;
  }

  &.profile-expanded,
  &.profile-expanded + .connector {
    display: block;
  }

  &-section {
    padding: 0 $column-gap;
  }

  &-footer {
    background: #fff;
    border-top: 0.0625rem solid #e8e8e8;
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-around;
  }
}
