/* Margin utils */
dc-header {
  $steps: (
    "0": 0rem,
    "1": 0.5rem,
    "2": 1rem,
    "3": 1.5rem,
    "4": 2rem,
    "5": 2.5rem,
    "6": 3rem,
  );

  @each $step, $value in $steps {
    .m-#{$step} {
      margin: $value;
    }
  }

  $sides: (top, bottom, left, right);

  @each $side in $sides {
    @each $step, $value in $steps {
      .m#{str-slice($side, 0, 1)}-#{$step} {
        margin-#{$side}: $value;
      }
    }
  }
}

/* Media queries utils */
dc-header .d-md-flex {
  display: none;
}

@media (min-width: 1024px) {
  dc-header .d-md-flex {
    display: flex;
  }
}

dc-header .d-md-none {
  display: flex;
}

@media (min-width: 1024px) {
  dc-header .d-md-none {
    display: none;
    visibility: hidden;
  }
}
