dc-header {
  --brand-color: #ff4630;
  --button-color: #ff4630;
  --button-hover-color: #ee2812;
  --light-green: #24ba9d;
  --outline-button-hover-color: #fffbea;
  --text-color: #2b2b2b;
  --disabled-text-color: #52575c;
  --font-size: 1rem;
  --column-gap: 15px;
  --main-bg-color: #fbfbfb;
  --z-index: 1000;
  --main-font: "Libre Franklin", sans-serif;
}
