@use 'variables' as vars;
@use 'mixins' as mixins;

%btn {
  align-items: center;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  padding: 0.5rem;
  transition: background 0.216s ease, color 0.216s ease;
  font-weight: bold;

  @include mixins.media-breakpoint-up(sm) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.btn-transparent {
  @extend %btn;
  background: none;
  border: none;
  display: flex;
  font-size: var(--font-size);
  padding: 0;
}

.btn-outline {
  @extend %btn;
  background: transparent;
  border: 0.0625rem solid var(--text-color);
  color: var(--text-color);

  &:hover {
    background: var(--outline-button-hover-color);
  }
}

.btn-primary {
  @extend %btn;
  background: var(--button-color);
  border: 0.0625rem solid var(--button-color);
  color: vars.$color-white;

  &:hover {
    border: 0.0625rem solid var(--button-hover-color);
    background: var(--button-hover-color);
  }
}
