dc-collapser .collapser-items {
  left: -80%;
  top: 2rem;
  border-radius: 0 0.5rem 0.5rem;
  background-color: var(--main-bg-color);
  margin-top: .5rem;
  margin-left: 1rem;
  list-style: none;
  padding: 0;
  cursor: pointer;
}

dc-collapser.open .collapser-items {
  display: block;
}

dc-collapser.collapsed .collapser-items {
  display: none;
}

dc-collapser .collapser-item {
  margin-bottom: 0.75rem;
}

dc-collapser .collapser-items .collapser-item:hover .collapser-item-text,
dc-collapser .nav-link:hover .material-icons {
  color: var(--brand-color);
}

dc-collapser .collapser-items .collapser-item .collapser-item-text {
  color: var(--disabled-text-color);
  font-size: 0.875rem;
  font-weight: 600;
}
