:host .dropdown-container {
  position: relative;
  display: none;
}

:host .dropdown-items {
  position: absolute;
  left: -50%;
  top: 2rem;
  border-radius: 0 0.5rem 0.5rem;
  background-color: var(--main-bg-color);
  padding: 0;
  cursor: pointer;
  max-width: 28rem;
  min-width: 16rem;
  box-shadow: 0px 0px 8px rgba(37, 40, 43, 0.12);
}

:host .dropdown-items.open {
  opacity: 1;
  transition: opacity 0.1s ease-in;
  visibility: visible;
  list-style: none;
}

:host .dropdown-items.hidden {
  visibility: hidden;
  opacity: 0;
}

:host .dropdown-items .dropdown-item {
  display: block;
  padding: 1rem;
  color: var(--disabled-text-color);
  font-size: 0.875rem;
  font-weight: 600;
}

:host .dropdown-items .dropdown-item:hover, :host .dropdown-items .dropdown-item:focus {
  background-color: rgba(255, 70, 48, 0.1);
  transition: background-color 0.1s ease-in;
  color: var(--brand-color);
}

@media (min-width: 768px) {
  :host .dropdown-container {
    display: block;
  }
}