:host {
  --brand-color: #ff4630;
  --text-color: #2b2b2b;
  --column-gap: 15px;
  --main-bg-color: #fbfbfb;
  --z-index: 1000;
  --main-font: "Libre Franklin", sans-serif;
}

:host a {
  text-decoration: none;
}

/* Container */
:host .header {
  -webkit-backface-visibility: hidden;
  align-items: center;
  backface-visibility: hidden;
  background-color: var(--main-bg-color);
  box-shadow: 0 0.125rem 0.25rem -0.0625rem rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: flex;
  font-family: var(--main-font);
  height: 5rem;
  justify-content: space-between;
  left: 0;
  padding: 0 var(--column-gap);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: var(--z-index);
}

/* Logo */
:host .logo {
  height: 2.667em;
  width: auto;
}

/* Navigation */
:host .nav {
  align-items: center;
  display: flex;
}

:host .nav-item {
  padding: 0 0.625rem;
}

:host .nav-link {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2;
  text-decoration: none;
  transition: color 0.216s ease;
}

:host .nav-link:visited {
  color: var(--text-color);
}

:host .nav-link:hover {
  color: var(--brand-color);
}

/* Avatar */
:host .avatar {
  border-radius: 50%;
}

/* Header session items */
:host .session-items {
  margin-left: 1rem;
}

:host .session-links {
  display: flex;
  align-items: center;
}

/* Buttons */
:host .btn {
  align-items: center;
  border-radius: 0.25rem;
  display: flex;
  justify-content: space-between;
  padding: 0.375rem 0.625rem;
  transition: background 0.216s ease, color 0.216s ease;
}

:host .btn-session {
  background: #2dcbad;
  color: #fff;
}

:host .btn-session:hover {
  background: #52d9bf;
}

:host .btn-session + .btn-session {
  margin-left: 0.4375rem;
}