:host {
  --brand-color: #ff4630;
  --button-color: #ff4630;
  --button-hover-color: #ee2812;
  --text-color: #2b2b2b;
  --font-size: 1rem;
  --column-gap: 15px;
  --main-bg-color: #fbfbfb;
  --z-index: 1000;
  --main-font: "Libre Franklin", sans-serif;
}

:host a {
  text-decoration: none;
}

/* Container */
:host .header {
  -webkit-backface-visibility: hidden;
  align-items: center;
  backface-visibility: hidden;
  background-color: var(--main-bg-color);
  box-shadow: 0 0.125rem 0.25rem -0.0625rem rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: flex;
  font-family: var(--main-font);
  height: 5rem;
  justify-content: flex-start;
  left: 0;
  padding: 0 var(--column-gap);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: var(--z-index);
}

/* Logo */
:host .logo {
  /* 2.667em is the size of logo within the community */
  height: 2.667em;
  position: relative;
  width: auto;
}

:host .logo-link {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

/* Navigation */
:host .nav {
  align-items: center;
  display: flex;
  flex: 1;
}

:host .nav-item {
  padding: 0 0.625rem;
}

:host .nav-link {
  color: var(--text-color);
  font-size: var(--font-size);
  font-weight: 600;
  line-height: 1.2;
  text-decoration: none;
  transition: color 0.216s ease;
}

:host .nav-link:visited {
  color: var(--text-color);
}

:host .nav-link:hover {
  color: var(--brand-color);
}

/* Avatar */
:host .avatar {
  border-radius: 50%;
  /* Match exactly community dimensions */
  width: 2.1333em;
  height: 2.1333em;
}

:host #current-user {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Make the profile picture mirror community one */
  width: 2.2857em;
  height: 2.2857em;
  padding: 0.2143em;
  padding-right: 0;
  cursor: pointer;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  outline: none;
}

/* Header session items */
:host .session-items {
  margin-left: 1rem;
}

:host .session-links {
  display: flex;
  align-items: center;
}

/* Buttons */
:host .btn {
  align-items: center;
  border-radius: 0.25rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  transition: background 0.216s ease, color 0.216s ease;
}

:host .btn-outline {
  background: transparent;
  border: 0.0625rem solid var(--text-color);
  color: var(--text-color);
}

:host .btn-primary,
:host .btn-outline:hover {
  background: var(--button-color);
  border: 0.0625rem solid var(--button-color);
  color: #fff;
}

:host .btn-primary:hover {
  border: 0.0625rem solid var(--button-hover-color);
  background: var(--button-hover-color);
}

:host .header .btn + .btn {
  margin-left: 0.4375rem;
}

:host .btn-transparent {
  background: none;
  border: none;
  display: flex;
  font-size: var(--font-size);
  padding: 0;
}

/* Margin utils */
.ml-1 {
  margin-left: .25rem;
}


/* Media queries utils */
:host .d-md-flex {
  display: none;
}

@media (min-width: 768px) {
  :host .d-md-flex {
    display: flex;
  }
}

:host .d-md-none {
  display: flex;
}

@media (min-width: 768px) {
  :host .d-md-none {
    display: none;
  }
}

/* Make sure material-icons class have its effect */
:host .material-icons {
  color: var(--text-color);
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}