dc-user-items {
  display: flex;
  align-items: center;
}

dc-user-items .notification-link {
  margin-left: .5rem;
}

/* Notifications */
dc-user-items .notification-icon {
  position: relative;
}

dc-user-items .badge-notification {
  /* Mirror community badge  */
  background: #bdbdbd;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  font-size: .7579rem;
  font-weight: normal;
  left: -2px;
  line-height: 1;
  padding: 0.21rem 0.42rem;
  position: absolute;
  text-align: center;
  top: -4px;
  white-space: nowrap;
  z-index: 1;
}

dc-user-items .unread-notifications {
  background-color: #6cf;
}