dc-user-dropdown .user-dropdown-container {
  position: relative;
}

dc-user-dropdown .user-dropdown-items {
  background-color: var(--main-bg-color);
  border-radius: 0;
  border-radius: 0.5rem 0 0.5rem 0.5rem;
  box-shadow: 0 0 0.5rem rgba(37, 40, 43, 0.12);
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: 0;
  top: 2.5rem;
  width: 16rem;
}

dc-user-dropdown .user-dropdown-items.open {
  list-style: none;
  opacity: 1;
  transition: opacity 0.1s ease-in;
  visibility: visible;
}

dc-user-dropdown .user-dropdown-items.hidden {
  opacity: 0;
  visibility: hidden;
}

dc-user-dropdown .user-dropdown-items .user-dropdown-item {
  align-items: center;
  border-radius: 0;
  box-sizing: border-box;
  color: var(--disabled-text-color);
  display: flex;
  font-size: 0.875rem;
  font-weight: 600;
  justify-content: start;
  min-height: 2.5rem;
  padding: 0.25rem 1rem;
}

dc-user-dropdown .user-dropdown-items .user-dropdown-item:first-child {
  justify-content: space-between;
}

dc-user-dropdown .user-dropdown-items .user-dropdown-item:last-child {
  margin-bottom: 1.5rem;
  width: 100%;
}

dc-user-dropdown .user-dropdown-items .user-dropdown-item:hover,
dc-user-dropdown .user-dropdown-items .user-dropdown-item:focus {
  background-color: rgba(255, 70, 48, 0.1);
  color: var(--brand-color);
  transition: background-color 0.1s ease-in;
}

dc-user-dropdown .user-dropdown-items .user-dropdown-item:hover .material-icons,
dc-user-dropdown .user-dropdown-items .user-dropdown-item:focus .material-icons {
  color: var(--brand-color);
}

dc-user-dropdown .user-dropdown-items .user-dropdown-item .user-dropdown-item-description {
  color: var(--text-color);
  font-size: 0.75rem;
  line-height: 1rem;
}
